@font-face {
font-family: 'Anton';
src: url("../fonts/Anton-Regular.ttf");
}
.icons-img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.title {
    font-family: "Anton",sans-serif;
}
.border-pills-right {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid #ced4da;
}
.image-size{
    width: 200px;
    height: 200px;
}
.text-elipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
.serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.serv ul li {
    list-style: none;
    flex: 0 0 33%;
}
.category-conteiner{
    width: auto;
    height: auto;
}
.blacknav {
    height: 50px;
    width: 200px;
}
.paddingleft0{
    padding-left: 0px;
}